<%- include('./layouts/app') -%> 

    <div class="row container ">
        <div class="col-12 text-center">
            <h1 class="">The Book App</h1>

            <div class="float-right">
                <a class="btn" href="/add">
                   + Add A Book
                </a>
            </div>
        </div>
        <% books.forEach(element => { %>
            <% var image=element['image'];
               var title=element['title'];
               var author=element['author'];
               var genre=element['genre'];
               var pages=element['pages'];
               var description=element['description'];
               var cost=element['cost'];
            %> 
            <div class="col-3">
                <div class="">
                    <div class="card">
                        <img src=" <%= element['image'] %> " alt="" width="100%">
                        <div class="card-header text-center">
                            <%= element['title'] %> 
                        </div>
                        <div class="card-body text-left">
                            Author:<%=element['author']  %>
                            Genre:<%=element['genre']  %> 
                            Pages:<%=element['pages']  %> 
                            <hr>
                            <%=element['description']  %> 
                        </div>
                        <div class="card-footer text-right">
                             Price :&#8377; <%=element['cost']  %>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
        
    </div>
<%- include('./layouts/footer.ejs')  -%> 


